body {

	background-image: url("../images/laptopBG.png");
	background-size: cover;
	font-family: 'Calibre';
	background-repeat: no-repeat;
}
.bg-1 {
	color: black;
}

iframe {
	width: 100%;
	height: 500px;
}


#authorName {
	font-weight: bold;
	color: white;
	background-color: black;
}
.pictureHeader {
	background-color: white;
	margin-top: 140px;
	width: 50%;
	height: auto;
	-webkit-box-shadow: 11px 13px 22px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 11px 13px 22px 0px rgba(0,0,0,0.75);
	box-shadow: 11px 13px 22px 0px rgba(0,0,0,0.75);
	height: 344px;
}
.myPicture {
	float: left;
	width: 50%;
	height: auto;
}

.laptop {
	width: 100%;
	height: 444px; 
	background-image: url("../images/laptop.png");
	background-size: 550px 444px;
	background-position: center;
	background-repeat: no-repeat;
	margin-top: 150px;
}

#computerText {
	padding-top: 50px;
	margin-left: 130px;
	text-align: center;
	color: white;
	font-size: 25px;
	width: 40%;
}

.glyphicon-menu-hamburger {
	color: white;
	font-size: 2.0em;
	background-color: #414242 !important;
	width: 40px;
	margin-top: 5px;
	float: right;
	position: fixed;
	right: 14.3%;
	z-index: 2;

	/*Safari*/
	-webkit-border-radius: 12px;

	/*firefox */
	-moz-border-radius: 12px;

	border-radius: 12px;
}

.thumbNails {
	width: 80%;
	height: auto;
}
.description {
	word-wrap: break-word;
	text-align: left;
}
#descriptionFooter {
	text-align: center;
}

.projectThumbs {
	visibility: visible;
	width: 100%;
	height: 140px;
	overflow-y: scroll;
}
.projectOne {
	display: none;
	width: 100%;
	height: auto; 
	display: none;
}

.projectTwo {
	display: none;
	width: 100%;
	height: auto; 
	display: none;
}
.projectThree {
	display: none;
	width: 100%;
	height: auto; 
	display: none;
}

.projectFour {
	display: none;
	width: 100%;
	height: auto; 
	display: none;
}

.projectFive {
	display: none;
	width: 100%;
	height: auto; 
	display: none;
}

.projectSix {
	display: none;
	width: 100%;
	height: auto; 
	display: none;
}

#projectTitle {
	text-align: center;
	font-size: 100%;
	word-wrap: break-word;
}
table {
	table-layout: fixed;
	width: 100%;
}

td {
	width: 100px;
}

#descriptionTwo {
	float: left;
	opacity: 0.0;
	display: none;
}

#descriptionThree {
	float: left;
	opacity: 0.0;
	display: none;
}
#backBtn {
	float: right;
	display: none;
}

